rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{room}/players/{uid} {
      allow read: if request.auth.uid != null;
      allow create: if request.auth.uid == uid;
      allow update: if request.auth.uid == uid || (request.auth.uid != null && request.resource.data.value == '' && request.resource.data.player == resource.data.player);
      allow delete: if request.auth.uid != null;
    }
  }
}